@{
    ViewData["Title"] = "Soy Monica ARDILA AGUDELO";
}

<h1>@ViewData["Title"]</h1>

<p>
    Buenas tarde
    soy Mónica ARDILA  quiero postularme como desarrollador ,estoy apunto de finalizar mi pasantía , he manejo javascript , HTML, java, Python, css react, vue.js,SQL y solidity en mi pasantía desarrolle un prototipo para la creación NFT. https://testnets.opensea.io/collection/contratonfts

    mi último proyecto está elaborado en java y laravel php que se trata de reconocimiento de huellas dactilares validación de usuario, me gusta ser autodidacta, me gusta estar aprendiendo continuamente actualmente me encuentro estudiando los sábados  un diplomado en la universidad del Quindío sobre unity para la creación de video juegos en c#, adicional me encuentro estudiando entre semana francés tengo nivel b2 y de inglés a2  ese sería un pequeño resumen de mi , me gustaría aplicar y ser parte de la empresa.
</p>
